name: CI/CD - Test and Deploy to Azure

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r app/requirements.txt
        pip install pytest requests
    
    - name: Configurar API key de Weights & Biases
      run: |
        echo "export WANDB_API_KEY=${{ secrets.WANDB_API_KEY }}" >> $GITHUB_ENV

    - name: Lanzar API en background
      run: |
        nohup uvicorn app.src.inference_api:app --port 8001 &
        sleep 10

    - name: Ejecutar tests
      run: |
        pytest app/src/test/

  deploy:
    name: Deploy to Azure Web App
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: car-price-api-mlops-v2-akbbc6g4dhbxf3cu
        slot-name: production
        package: ./app
